:root {
  --primary-color: #f47521; /* Couleur Crunchyroll */
  --secondary-color: #1a1a1a;
  --light-color: #f8f8f8;
  --accent-color: #e94e02;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary-color);
  color: var(--light-color);
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--primary-color);
}

.hero {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('https://files.oaiusercontent.com/file-5tpmvkNjCcsGSTfgdbC7YZ?se=2024-11-28T14%3A35%3A50Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D92b51385-8841-40c9-8e6f-ceeb7f02c671.webp&sig=2nZl6ki5MUV4BCqwfj6ZeKqzlvkSaCfgKp2AfLLDR9g%3D') no-repeat center center/cover; /* Image avec un dégradé sombre */
  height: 100vh; /* Hauteur de l'écran */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover; /* Garantit que l'image couvre toute la section */
  background-position: center; /* Centrage de l'image */
  z-index: 0;
  padding-bottom: 10%;
}
@media (max-width: 680px){
  .hero {
    position: relative;
    background: black;
  }
}

.hero-content {
  z-index: 1; /* Assure que le contenu est visible par-dessus l'image de fond */
  max-width: 800px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6); /* Ajout d'un fond semi-transparent sombre pour améliorer la lisibilité du texte */
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5); /* Ombre douce autour du contenu */
}

.hero h1 {
  font-size: 3.5rem; /* Plus grand titre */
  font-weight: bold;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7); /* Ombre portée pour rendre le texte plus lisible */
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.5rem;
  font-weight: 300;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.hero button {
  padding: 12px 30px;
  font-size: 1.25rem;
  background-color: #fa5615; /* Jaune */
  color: #1f2937; /* Texte sombre pour un bon contraste */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.hero button:hover {
  background-color: #ffeeee; /* Jaune plus clair */
  transform: scale(1.1); /* Effet de zoom au survol */
}

/* Hero Section en Responsive */
@media (max-width: 768px) {
  .hero h1 {
      font-size: 2.5rem; /* Taille de texte réduite sur mobile */
  }
  .hero p {
      font-size: 1.125rem; /* Taille de texte réduite */
  }
  .hero button {
      padding: 10px 20px;
      font-size: 1.125rem;
  }
}

.categories,
.featured-films,
.subscriptions,
.testimonials,
.benefits,
.target-audience {
  padding: 50px 0;
}

.category-tile {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-tile:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* General Footer Styles */
footer {
    background-color: #2e2e2e; /* Neutral-900 */
    color: #f9fafb; /* Yellow-100 */
    padding-top: 5%;
    margin-top: 10%;
}

footer h3 {
    color: #f47521; /* Yellow-400 */
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

footer a {
    color: #f9fafb; /*Yellow-100 */
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #f47521; /* Yellow-400 */
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    margin-bottom: 0.75rem;
}

/* Footer Flex layout: Align elements horizontally */
footer .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}

footer .flex-1 {
    flex: 1;
    min-width: 200px; /* To ensure that on very small screens, each block doesn't become too narrow */
}

footer .space-x-6 >:not(:last-child) {
    margin-right: 1.5rem;
}

footer .space-x-6 a:hover {
    transform: scale(1.1);
}

/* Legal Info Section */
footer .mt-12 {
    margin-top: 3rem;
}

footer .text-center {
    text-align: center;
}

footer .text-yellow-500 {
    color: #f47521; /* Yellow-500 */
  }
  footer{
      padding-bottom: 1%;
  }
  
.logo{
  width: 15%;
}
.hor{
  margin-left: 25%;
}
@media  (max-width: 768px) {
    .hor{
      margin: 0;

    }
    .cat{
      padding-left: 2%;
      padding-right: 2%;
      height: auto;
    }
  
}
.advantages .icon {
  font-size: 3rem;
  margin-bottom: 20px;
}
.advantages .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 15px;
}
.advantages .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(4, 4, 4, 0.2);
}
.testimonial {
  font-style: italic;
}

.testimonial-author {
  font-weight: 600;
  color: var(--accent-color);
}